.strR {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;
    height: 48px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.strR * {
    padding: 8px;
}
.nameR {
    padding: 8px;
    width: 440px;
}

.allGR {
    width: 108px;
}

.winsR {
    color: #69B849;
    width: 108px;
}

.hatWin {
    width: 108px;
}

.failR {
    color: #E93E3E;
    width: 108px;
}

.hatLos {
    width: 108px;
}

.procR {
    width: 134px;
}

.strSt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 56px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.namesSt {
    width: 678px;
    gap: 12px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.nameOSt {
    width: max-content;
    min-width: 228px;
    display: flex;
    padding: 4px 6px;
    gap: 8px;
    align-items: center;
}

.nameXSt {
    width: max-content;
    display: flex;
    padding: 4px 8px;
    gap: 8px;
    align-items: center;
}

.dateSt {
    width: 160px;
    padding: 8px;
}

.timeSt {
    width: 140px;
    padding: 8px;
}

.strActG {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 72px;
    width: 717px;
}

.nameActG {
    width: 360px;
}

.btnsActG {
    width: 341px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.strAllP {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 64px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    padding: 4px 0px;
}

.ageAP {
    padding: 8px;
    width: 108px;
}

.sexAP {
    padding: 8px;
    display: flex;
    width: 46px;
}

.sexAP img {
    width: 24px;
}

.statAP {
    width: 152px;
    padding: 8px;
    display: flex;
}

.creaAP {
    padding: 8px;
    width: 160px;
}

.blockAP {
    padding: 8px;
    width: 190px;
    justify-content: center;
    display: flex;
}

.contr {
    font-weight: 700;
}

@media (max-width: 855px) {

    .btnsActG {
        gap: 8px;
        width: 211px;
    }

    .strActG {
        height: 36px;
        width: 366px;
        gap: 8px;
    }

    .nameActG {
        width: 147px;
        letter-spacing: 0.25px;
        overflow: hidden;
        height: 36px;
    }

    .strR {
        height: 64px;
        align-items: flex-start;
        gap: 12px;
    }

    .nameR {
        width: 160px; 
    }

    .allGR {
        width: 81px;
    }

    .winsR {
        width: 71px;
    }
    
    .failR {
        width: 97px;
    }
    
    .procR {
        width: 120px;
    }

    .hatWin {
        width: 71px;
    }
    
    .hatLos {
        width: 97px;
    }

    .strSt {
        gap: 0px;
        height: 76px;
    }

    .cubokPh {
        width: 20px;
    }
    
    .namesSt {
        width: 200px;
        gap: 4px;
        flex-direction: column;
        padding: 8px 8px 8px 0px;
    }
    
    .nameOSt {
        width: 100%;
        min-width: 0px;
        padding: 4px 6px;
    }
    
    .nameXSt {
        width: 100%;
    }
    
    .dateSt {
        width: 98px;
        height: 100%;
    }
    
    .timeSt {
        width: 68px;
        height: 100%;
    }

    .contr {
        display: none;
    }

    .ageAP {
        width: 72px;
    }

    .sexAP {
        width: 43px;
        justify-content: center;
    }

    .sexAP img {
        width: 20px;
    }

    .strAllP {
        gap: 12px;
        align-items: flex-start;
    }

    .statAP {
        width: 120px;
    }

    .creaAP {
        width: 100px;
    }

    .blockAP {
        width: 187px;
    }
}