.headerPC {
    position: absolute;
    z-index: 800;
    width: -webkit-fill-available;
    width: -moz-available;
    height: auto;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    flex: none;
    flex-grow: 0;
    width: 707px;
}

.signout {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    width: max-content;
}

.menupc {
    display: flex;
}

.menuph {
    display: none;
}

@media (max-width: 855px) {
    .headerPC {
        flex-direction: column;
        align-items: flex-start;
        /* top: 0;
        left: 0; */
        gap: 40px;
        padding: 80px 20px 40px;
        position: fixed;
        width: 100vw;

        transition: all 1s;
        transform: translateY(0);
    }

    .headerPC.expand {
        transition: all 1s;
        transform: translateY(-320px);
    }

    .navBar {
        flex-direction: column;
        width: 350px;
        align-items: flex-start;
        gap: 20px;
    }

    .signout {
        align-items: center;
    }

    .signout::before {
        content: 'Выйти';
        font-size: 20px;
        padding: 8px 15px 8px 12px;
    }

    .menuph {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        height: 48px;
        padding: 16px 28px 16px 20px;
        background: #FFFFFF;
        border-radius: 0px 0px 16px 16px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 900;
    }

    .hamburger {
        cursor: pointer;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
    }

    .menupc {
        display: none;
    }
}