.gField {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 89px;
}

.move {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    gap: 10px;
    width: 400px;
    height: 48px;
    cursor: pointer;
    border: none;
}

.fonGame {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 64px 40px 77px;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    max-height: 1080px;
    /* flex-direction: column; */
}

.Board {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

@media (max-width: 855px) {

    .fonGame {
        padding: 64px 12px 10px;
        align-items: flex-start;
    }

    .gField {
        flex-direction: column;
        gap: 24px;
    }

    .Board {
        gap: 24px;
        align-items: center;
        margin-top: 0px;
    }

    .move {
        order: 1;
        height: 44px;
        font-size: 14px;
        width: 366px;
    }

    .move img {
        width: 24px;
    }
}