.fonPgs {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 144px 0px 80px;
    justify-content: center;
    max-width: 1920px;
    max-height: 1080px;
}

.fonTabl {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px;
    height: 856px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.scrollTabl {
    display: grid;
    overflow: auto;
    height: 640px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .scrollTabl:empty::before {
    content: 'Игроков пока нет';
    color: #898993;
    text-align: center;
    display: block;
    padding: 24px 0px 0px;
} */

.scrollRating {
    display: grid;
    overflow: auto;
    height: 672px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollActive {
    display: grid;
    overflow: auto;
    height: 720px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollActive::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollRating::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollTabl::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hatR {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;
    height: 48px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.hatR * {
    font-weight: 500;
    padding: 8px;
}

.hatSt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 40px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.hatSt * {
    font-weight: 500;
    padding: 8px;
    display: flex;
}

.tablStG {
    display: flex;
    flex-direction: column;
}

.tablStG:empty::before {
    content: 'Игр пока нет';
    color: #898993;
    text-align: center;
    display: block;
    padding: 24px 0px 0px;
}

.hatActG {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hatAllP {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hatStoryPl {
    width: 678px;
}

.hatStoryD {
    width: 160px;
}

.hatStoryT {
    width: 140px;
}

@media (max-width: 855px) {
    .fonTabl {
        box-shadow: none;
        width: 100%;
        height: 100%;
        padding: 80px 12px 0px;
    }

    .fonPgs {
        display: flex;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 0;
        justify-content: flex-start;
    }

    .hatActG {
        display: grid;
        justify-content: inherit;
        justify-items: end;
        gap: 24px;
    }

    .hatR {
        height: 44px;
        gap: 12px;
    }

    .hatStoryPl {
        width: 200px;
    }
    
    .hatStoryD {
        width: 98px;
    }
    
    .hatStoryT {
        width: 68px;
    }

    .hatSt {
        gap: 0px;
        height: 56px;
    }

    .tablStG {
        gap: 8px;
    }

    .hatAllP {
        align-items: flex-start;
    }
}