.LoginWind {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    width: 400px;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px; 
}

.winmod {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.fonMod {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: rgba(32, 35, 34, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 12px;
    align-items: center;
    z-index: 1100;
    visibility: hidden;
    opacity: 0;
}

.fonMod.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
    transition:opacity 1s;
}

.fonanim {
    background-color: rgba(32, 35, 34, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 12px;
    align-items: center;
    z-index: 1100;
}

.anim {
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(-35deg);
    }
    50% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-35deg);
    }
}

.fonModLog {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 12px;
    align-items: center;
}

.fonAddPlayer {
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 12px;
    align-items: center;
}

.fonAddPlayer.active {
    display: flex;
}

.close {
    background: #FFFFFF;
    border: none;
    position: relative;
    top: -10px;
    left: -6px;
    height: 8px;
    align-self: flex-end;
    cursor: pointer;
}

.choice {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 1000px;
    width: 48px;
    height: 48px;
    padding: 6px 8px 8px 7px;
    cursor: pointer;
}

.choice.Focus {
    background: #60C2AA;
}
.choice:hover {
    border: 1px solid #60C2AA;
}

.parameters {
    display: flex;
    gap: 8px;
}

.haters {
    font-weight: 500;
}

.plaingNow {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 500px;
    height: fit-content;
    margin-top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px; 
}

.party {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.krestNul {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}

.iconX {
    width: 26px;
}

.iconO {
    width: 26px;
    display: flex;
    justify-content: center;
}

.iconO img {
    width: 30px;
}

.linkMenu {
    width: 352px;
    height: 48px;
    position: absolute;
    border-radius: 12px;
}

.notvalid {
    color: #E93E3E;
}

.sexParam {
    display: flex;
    gap: 8px;
    width: auto;
    flex-direction: row;
}

@media  (max-width: 855px) {
    .LoginWind {
        width: 366px;
        height: max-content;
        padding: 40px 24px;
        justify-content: center;
        border-radius: 16px;
        box-shadow: none;
    }

    .fonModLog {
        padding: 0px;
    }

    .plaingNow {
        width: 366px;
        margin-top: 0px;
        gap: 0px;
        padding: 16px;
        height: max-content;
    }

    .plaingNow img {
        width: 12px;
        cursor: pointer;
    }

    .fonMod {
        width: 100vw;
        height: 100vh;
    }

    .party {
        gap: 12px;
        transition: all 0.3s linear;
        height: 92px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-top: 20px;
    }

    .party::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .party.notactive {
        transition: all 0.3s linear;
        margin-top: 0px;
        height: 0;
        overflow: hidden;
    }

    .iconX {
        width: 20px;
    }
    .iconO {
        width: 20px;
    }

    .iconO img {
        width: 22px;
    }

    .iconX img {
        width: 20px;
    }
}