.come {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
}

.dataPlayer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.gamers {
    font-size: 20px;
    letter-spacing: 0.15px;
}

.info {
    font-size: 14px;
    color: #898993;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.headerTable {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
}

@media (max-width: 855px) {
    .come {
        font-size: 20px;
        line-height: 24px;
    }

    .headerTable {
        font-size: 20px;
        justify-self: start;
        line-height: 24px;
        justify-content: space-between;
        width: 100%;
    }

    .gamers {
        font-size: 14px;
        letter-spacing: 0.25px;
    }

    .info {
        font-size: 12px;
        line-height: 16px;
    }
}