.timer {
    display: flex;
    width: fit-content;
    padding: 24px;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 40px;
    background: #EDEDED;
    border-radius: 12px;
}

@media (max-width: 855px) {
    .timer {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
        padding: 12px;
    }
}