.notactive {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background: #60C2AA;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    align-self: stretch;
    width: auto;
    cursor: pointer;
}

.notactive:disabled {
    background: rgba(96, 194, 170, 0.3);
    cursor: default;
}

.notactive:hover:enabled {
    background: #3BA189;
}

.greenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background: #60C2AA;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    align-self: stretch;
    width: auto;
    cursor: pointer;
}

.greenBtn:disabled {
    background: rgba(96, 194, 170, 0.3);
    cursor: default;
}

.greenBtn:hover:enabled {
    background: #3BA189;
}

.hover {
    display: flex;
    padding: 4px 12px;
    font-weight: 500;
    border: none;
    background-color: #FFFFFF;
    flex: none;
    width: fit-content;
    word-break: keep-all;
    border-radius: 200px;
    text-decoration: none;
    cursor: pointer;
}

.hover:hover {
    background: #F7F7F7;
}

.hoverActive {
    display: flex;
    padding: 4px 12px;
    font-weight: 500;
    border: none;
    flex: none;
    width: fit-content;
    word-break: keep-all;
    border-radius: 200px;
    text-decoration: none;
    cursor: pointer;
    background: #60C2AA;
    color: white;
}

.grey {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    color: #373745;
    font-weight: 500;
    border: none;
    align-self: stretch;
    width: auto;
    cursor: pointer;
}

.grey:disabled {
    opacity: 0.3;
    cursor: default;
}

.grey:hover:enabled {
    background: #DCDCDF;
}

.greyActPl {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    color: #373745;
    font-weight: 500;
    border: none;
    align-self: stretch;
    width: auto;
    cursor: pointer;
}

.greyActPl:disabled {
    opacity: 0.3;
    cursor: default;
}

.greyActPl:hover:enabled {
    background: #DCDCDF;
}

.ready {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #A8D37F;
    border-radius: 6px;
    color: #FFFFFF;
    width: auto;
    height: 32px; 
}

.busy {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #87CAE8;
    border-radius: 6px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
}

.block {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: #EC7777;
    border-radius: 6px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
}

.addblock {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #F7F7F7;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    gap: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.cell {
    aspect-ratio: 1/1;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.cell img {
    max-width: 100%;
    width: 85%;
}

.cell:hover {
    background: #F7F7F7;
}

.onlyFree {
    height: 14px;
    width: 33px;
    position: relative;
    display: inline-block;
}


.onlyFree input { 
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.ball {
    position: absolute;
    cursor: pointer;
    background-color: #DCDCDF;
    -webkit-transition: .2s;
    transition: .2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
}

.ball:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -3px;
    bottom: -3px;
    background-color: #F7F7F7;
    -webkit-transition: .2s;
    transition: .2s;
    border: 1px solid rgba(137, 137, 147, 0.2);
    border-radius: 50%;
  }

input:checked + .ball {
    background: rgba(96, 194, 170, 0.5);
}

input:checked + .ball:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:checked + .ball::before {
    background-color: #3BA189;
}

.cell.colorX {
    background: #CFEDE6;
}

.cell.colorO {
    background: #F3BBD0;
}

@media (max-width: 855px) {
    .notactive {
        font-size: 16px;
    }

    .hoverActive {
        display: none;
    }

    .hover {
        font-size: 20px;
        font-weight: 700;
    }

    .ready {
        font-size: 12px;
        height: 24px;
        padding: 4px;
        line-height: 16px;
    }

    .busy {
        font-size: 12px;
        height: 24px;
        width: 65px;
        line-height: 16px;
    }

    .grey {
        font-size: 16px;
    }

    .greenBtn {
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 8px;
    }

    .greyActPl {
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 8px;
    }

    .addblock {
        height: 36px;
    }

    .block {
        height: 24px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;
    }
}