.other {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    padding: 12px;
    gap: 8px;
    width: 352px;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 0px 16px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 352px;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 16px 0px;
}

.authorO {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E38BAC;
}

.authorX {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #60C2AA;
}

.msg {
    display: flex;
    font-size: 16px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: max-content;
    word-wrap: break-word;
    word-break: break-all;
}

.time {
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #898993;
    line-height: 20px;
}

.hatChat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    justify-content: flex-end;
    padding: 0px 0px 20px;
}

.posts:empty::before {
    content: 'Сообщений пока нет';
    display: block;
    padding: 0px 0px 20px;
    text-align: center;
    color: #898993;
}

.fixChat {
    display: flex;
    width: 412px;
    height: 803px;
    flex-direction: column-reverse;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    --mask-image-content: linear-gradient(to bottom, transparent 37px, black 100px, black calc(100% - 32px), transparent 99.5%);
    mask-repeat: no-repeat, no-repeat;
    mask-image: var(--mask-image-content);
    -webkit-mask-image: var(--mask-image-content);
}

.fixChat::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat {
    display: flex;
    padding: 0px 0px 88px 0px;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    width: 500px;
}

.gameBoard {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4px;
    width: 663px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

.onlinePl:empty::before {
    content: 'Свободных игроков нет';
    color: #898993;
    text-align: center;
    width: 717px;
    display: block;
    padding: 24px 0px 0px;
}

@media (max-width: 855px) {

    .onlinePl:empty::before {
        width: 366px;
    }

    .onlinePl {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .chat {
        padding: 0px;
        width: 366px;
    }

    .fixChat {
        width: 366px;
        height: 384px;
        flex-direction: column;
        order: 2;
        --mask-image-content: linear-gradient(to top, black calc(100% - 28px), transparent 99.5%);
        background: #FFFFFF;
    }

    .chatInput {
        order: 1;
    }

    .posts {
        padding: 20px 0px 0px;
        flex-direction: column-reverse;
    }

    .gameBoard {
        width: 366px;
        order: 2;
    }
}