.LgPs {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 20px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    max-height: max-content;
    align-self: stretch;
    overflow: hidden;
    width: 100%;
}

.LgPs::placeholder {
    color: #B1B1B7;
}

.LgPs:focus {
    border: 1px solid #60C2AA;
    outline: none;
}

@media  (max-width: 855px) {
    .LgPs {
        font-size: 16px;
    }

    .LgPs:focus-within .fixChat {
        transition: all 0.5s;
        transform: translateY(0);
    }
}