*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {            
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    color: #373745;
    letter-spacing: 0.24px;
    line-height: 24px;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

body {
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;    
    gap: 12px;
    width: 100%;
}

@media (max-width: 855px) {
    * {
        font-size: 14px;
        line-height: 20px;
    }
    
    body {
        background: #FFFFFF;
    }

    #root {
        flex-direction: column;
        justify-content: flex-start;
    }
}